global  
  log 127.0.0.1 local3 info 
  daemon  
  maxconn 10240

defaults  
  log global 
  mode tcp 
  option tcplog 
  #option dontlognull  
  timeout connect 10000 
  # timeout > mqtt's keepalive * 1.2  
  timeout client 240s  
  timeout server 240s 
  maxconn 20000

backend mqtt_backend
  mode tcp
  stick-table type string len 32 size 1000k expire 30m
  stick on req.payload(0,0),mqtt_field_value(connect,client_identifier)

  server emqx1 emqx1:1883
  server emqx2 emqx2:1883
  server emqx3 emqx3:1883

frontend mqtt_servers
  bind *:1883
  mode tcp
  tcp-request inspect-delay 10s
  tcp-request content reject unless { req.payload(0,0),mqtt_is_valid }
  default_backend mqtt_backend

backend mqtts_backend
  mode tcp
  balance roundrobin

  # server emqx1 emqx1.ziopio.io.vn:1883 check-send-proxy send-proxy-v2 weight 5
	server emqx1 emqx1:1883 weight 5
  server emqx2 emqx2:1883 weight 2
  server emqx3 emqx3:1883 weight 3

frontend mqtt_tls_frontend
  bind *:8883 ssl crt /etc/haproxy/certs/server.pem
	# bind *:8883 ssl ca-file /etc/haproxy/certs/cacert.pem  crt /etc/haproxy/certs/server.pem verify required
  mode tcp
  default_backend mqtts_backend


backend mqtt_ws_backend
  mode tcp
  balance roundrobin
  server emqx1 emqx1:8083 check
  server emqx2 emqx2:8083 check
  server emqx3 emqx3:8083 check

frontend mqtt_ws_frontend
  bind *:8083 
  mode tcp
  default_backend mqtt_ws_backend
  

frontend mqtt_ws_tls_frontend
  bind *:8084 ssl crt /etc/haproxy/certs/server.pem
  mode tcp 
  default_backend mqtt_ws_backend


frontend stats
  mode http
  bind *:8888
  stats enable
  stats uri /stats
  stats refresh 10s
